@using EngineerApplication.Resources
@inject CommonLocalizationService localizer
@model EngineerApplication.Entities.ViewModels.CartViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.CommodityList.Count > 0)
    {
        <br />
        <div class="backgroundWhite container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; @localizer.Get("OrderSummary")
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" asp-controller="Cart" asp-area="Customer" class="btn btn-outline-info form-control btn-sm">@localizer.Get("BackToCart")</a>
                    </div>
                </div>
                <div class="card-body">
                  <div class="container rounded p-2">
                      <div class="row">
                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                          <div class="col-12 col-lg-6 pb-4">
                              <div class="row">
                                  <h4 class="d-flex justify-content-between align-items-center mb-3">
                                      <span class="text-primary">@localizer.Get("PickUpDetails"):</span>
                                  </h4>
                              </div>
                              <div class="row my-1">
                                  <div class="col-3">
                                      <label>@localizer.Get("Name")</label>
                                  </div>
                                  <div class="col-9">
                                      <input asp-for="OrderHeader.Name" id="txtName" type="text" class="form-control" />
                                      <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                  </div>
                              </div>
                              <div class="row my-1">
                                  <div class="col-3">
                                      <label>@localizer.Get("Phone")</label>
                                  </div>
                                  <div class="col-9">
                                      <input asp-for="OrderHeader.Phone" id="txtPhone" type="text" class="form-control" />
                                      <span asp-validation-for="OrderHeader.Phone" class="text-danger"></span>
                                  </div>
                              </div>
                              <div class="row my-1">
                                  <div class="col-3">
                                      <label>@localizer.Get("Address")</label>
                                  </div>
                                  <div class="col-9">
                                      <input asp-for="OrderHeader.Address" type="text" class="form-control" />
                                      <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
                                  </div>
                              </div>
                              <div class="row my-1">
                                  <div class="col-3">
                                      <label>@localizer.Get("City")</label>
                                  </div>
                                  <div class="col-9">
                                      <input asp-for="OrderHeader.City" type="text" class="form-control" />
                                      <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                  </div>
                              </div>
                              <div class="row my-1">
                                  <div class="col-3">
                                      <label>@localizer.Get("ZipCode")</label>
                                  </div>
                                  <div class="col-9">
                                      <input asp-for="OrderHeader.ZipCode" type="text" class="form-control" />
                                      <span asp-validation-for="OrderHeader.ZipCode" class="text-danger"></span>
                                  </div>
                              </div>
                              <div class="row my-1">
                                  <div class="col-3">
                                      <label>@localizer.Get("Email")</label>
                                  </div>
                                  <div class="col-9">
                                      <input asp-for="OrderHeader.Email" type="text" class="form-control" />
                                      <span asp-validation-for="OrderHeader.Email" class="text-danger"></span>
                                  </div>
                              </div>
                              <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Supplier")</label>
                                    </div>
                                    <div class="col-9">
                                        @Html.DropDownListFor(m => m.OrderHeader.SupplierId, Model.SupplierList,
                                        @localizer.Get("PleaseSelectASupplier"), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Delivery")</label>
                                    </div>
                                    <div class="col-9">
                                        @Html.DropDownListFor(m => m.OrderHeader.DeliveryId, Model.DeliveryList,
                                        @localizer.Get("PleaseSelectADelivery"), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Payment")</label>
                                    </div>
                                    <div class="col-9">
                                        @Html.DropDownListFor(m => m.OrderHeader.PaymentId, Model.PaymentList,
                                        @localizer.Get("PleaseSelectAPayment"), new { @class = "form-control" })
                                    </div>
                                </div>
                          </div>
                          <div class="col-12 col-lg-5 offset-lg-1">
                              <h4 class="d-flex justify-content-between align-items-center mb-3">
                                  <span class="text-primary">@localizer.Get("OrderSummary")</span>
                              </h4>
                              <ul class="list-group mb-3">
                                  @{ var total = 0.0;}

                                  @foreach(var details in Model.CommodityList)
                                  {
                                      var modelOrder = Model.OrderHeader;
                                      <li class="list-group-item d-flex justify-content-between">
                                          <div>
                                              <input type="hidden" asp-for="@details.Id" />
                                              <h6 class="my-0">@details.Name</h6>
                                              <small class="text-muted">@localizer.Get("AmountInOrder") : @details.Amount</small>
                                          </div>
                                          <span class="text-muted">@(Math.Round((details.Price * details.Amount), 2).ToString("C", new CultureInfo("pl-PL")))</span>
                                          @{ total += (details.Price * details.Amount);}
                                      </li>
                                  }

                                  <li class="list-group-item d-flex justify-content-between bg-light">
                                      <h5 class="text-primary">@localizer.Get("TotalUSD") brutto</h5>
                                      <strong class="text-primary">@(Math.Round(total, 2).ToString("C", new CultureInfo("pl-PL")))</strong>
                                  </li>
                                  @{ var vat = 0.23 * total; }
                                  <li class="list-group-item d-flex justify-content-between bg-light">
                                      <h5 class="text-primary">@localizer.Get("VATPrice")</h5>
                                      <strong class="text-primary">@(Math.Round(vat, 2).ToString("C", new CultureInfo("pl-PL")))</strong>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="card-footer">
                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 text-right">
                        <button type="submit" class="btn btn-success form-control">@localizer.Get("PlaceOrder")</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="backgroundWhite"> @localizer.Get("NoItemsAddedToTheShoppingCart")...</div>
    }
</form>