@using EngineerApplication.Resources
@inject CommonLocalizationService localizer
@model EngineerApplication.Entities.ViewModels.OfferCommodityViewModel

<h1 class="text-success">@localizer.Get("OfferCommodity")</h1>
<form asp-controller="OfferCommodity" asp-action="OfferCommodityWithFilter" method="get">
    <p>
        <input type="text" id="searchString" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
    @foreach (var category in Model.CategoryList.OrderBy(o => o.Name))
    {
        @if (Model.CommodityList.Where(c => c.CategoryId == category.Id).Count() > 0)
        {
            <div class="row container pb-3 backgroundWhite">
                <h1>@localizer.Get("Commodities")</h1>
                <ul style="position: relative; display: block; margin: 0 auto; text-align: center; text-decoration: none; width: 90%; padding: 0;">
                    <li class="nav-item" style="font-size: 22px; align-items: center; text-decoration: none; height: 48px; width: 186px; color: white; background-color: #32CD32; margin: 0 auto;">
                        <a style="float: center; color: white; font-weigt: bold; text-decoration: none;" id="backToOffer_" asp-action="Index" asp-controller="Offer" asp-area="Customer">@localizer.Get("BackToOffer")</a>
                    </li>
                </ul>
                <div class="col-12">
                    <div class="row">
                        <h2 class="text-success"><b>@category.Name</b></h2>
                        <div class="col-12">
                            <div class="row my-3">
                                @foreach (var commodity in Model.CommodityList.Where(c => c.CategoryId == category.Id))
                                {
                                    <div class="col-lg-4 col-xl-3 col-md-6 pb-4">
                                        <div class="card" style="border:2px solid #43ac6a;border-radius:5px; backgroundcolor: #fffeee">
                                            <div class="pl-3 pt-1 text-center">
                                                <h3 id="chosenName" class="card-title text-primary"><b>@commodity.Name</b></h3>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div class="pl-1 text-muted">@localizer.Get("Price") @localizer.Get("PerCommodity")</div>
                                                <div class="pr-1 text-danger h5">$@commodity.Price</div>
                                            </div>
                                            <img src="@commodity.ImageUrl" class="card-img-top p-2 rounded" />
                                            <div class="col-9">
                                                @using (Html.BeginForm("UpdateAmount", "OfferCommodity", new { id = commodity.Id}, FormMethod.Post))
                                                {
                                                   <input type="number" name="amount" id="amount" min="1" max="150" value="@commodity.Amount"/>
                                                   <input style="margin-bottom: 2px; margin-top: 2px;" class="btn btn-success" type="submit" value="@localizer.Get("ChangeAmount")" />
                                               }
                                            </div>
                                            <a asp-action="Details" class="btn btn-success" style="border-radius:2px;" asp-route-id="@commodity.Id">@localizer.Get("Buy")</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    }

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
}