@using EngineerApplication.Resources
@inject CommonLocalizationService localizer
@model int
@{
    ViewData["Title"] = @localizer.Get("OrderConfirmation");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">@localizer.Get("OrderRequestSubmitted")</h1><br />
        <img src="~/images/services/orderRealized.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        @localizer.Get("ThankYouForSubmitting") <br />
        @localizer.Get("WeHaveReceived")
        <br />
        @localizer.Get("YourRequest") : @Model
    </div>
</div>

