@inject CommonLocalizationService localizer
@model EngineerApplication.Entities.ViewModels.CommodityVM

@{
    var title = @localizer.Get("CreateCommodity");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="commodityForm_" method="post" asp-action="AddOrUpdate" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Commodity.Id != 0)
        {
            <input type="hidden" asp-for="Commodity.Id" />
            title = @localizer.Get("EditCommodity");
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-10">
            <div class="form-group row">
                <div class="col-4">
                    <label>@localizer.Get("CommodityName")</label>
                </div>
                <div class="col-8">
                    <input id="commodityName_" asp-for="Commodity.Name" class="form-control" />
                    <span asp-validation-for="Commodity.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>@localizer.Get("Price")</label>
                </div>
                <div class="col-8">
                    <input id="commodityPrice_" asp-for="Commodity.Price" id="txtPrice" class="form-control" />
                    <span asp-validation-for="Commodity.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>@localizer.Get("Description")</label>
                </div>
                <div class="col-8">
                    <textarea id="commodityDesc_" asp-for="Commodity.LongDesc" class="form-control" style="height:300px;"></textarea>
                    <span asp-validation-for="Commodity.LongDesc" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label>@localizer.Get("Image")</label>
                </div>
                <div class="col-8">
                    <input id="commodityImg_" type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Commodity.CategoryId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Commodity.CategoryId, Model.CategoryList,
                                            @localizer.Get("PleaseSelectACategory"), new { @class = "form-control", @id = "Select-List" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Commodity.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Commodity.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">@localizer.Get("Create")</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">@localizer.Get("BackToList")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.Commodity.Id != 0)
        {
            <div class="col-3">
                <img src="@Model.Commodity.ImageUrl" width="100" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        }
    </div>

</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>
    <script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'lists',
        menubar: 'file edit format'
    });

    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            swal(@localizer.Get("Error"), @localizer.Get("PleaseSelectAnImage"), "error")
            return false;
        }
        return true;
            };

    $(document).ready(function () {
        if (document.getElementById('txtPrice').value == "0") {
            document.getElementById('txtPrice').value = '';
        }
    });
    </script>
}