@inject CommonLocalizationService localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">@localizer.Get("CommodityList")</h2>
        </div>
        <div class="col-6 text-right">
            <a id="createCommodity_" asp-action="AddOrUpdate" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; @localizer.Get("CreateNewCommodity")</a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>@localizer.Get("Name")</th>
                <th>@localizer.Get("CategoryName")</th>
                <th>@localizer.Get("Price")</th>
                <th>@localizer.Get("Description")</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div class="row">
    <div class="col-12 col-lg-5 offset-lg-1">
        <form asp-action="Export" asp-controller="Commodity" method="post">
            <input type="hidden" name="GridHtml" />
            <input class="btn btn-success" type="submit" id="btnSubmit" value="@localizer.Get("ExportToPdf")" />
        </form>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="~/js/commodity.js"></script>
}



