@inject CommonLocalizationService localizer
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = @localizer.Get("Index");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">@localizer.Get("UserList")</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info">
                <i class="fas fa-plus"></i> &nbsp; @localizer.Get("NewUserRegistration")
            </a>
        </div>
    </div>

    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @localizer.Get("Name")
                </th>
                <th>
                    @localizer.Get("PhoneName")
                </th>
                <th>
                    @localizer.Get("RoleName")
                </th>
                <th>
                    @localizer.Get("City")
                </th>
                <th>
                    @localizer.Get("StreetAddress")
                </th>
                <th></th>
            </tr>
            @foreach(var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(m => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(m => item.City)
            </td>
            <th>
                @Html.DisplayFor(m => item.StreetAddress)
            </th>
            <td>
                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                {
                    <a id="lock_" class="btn btn-success text-white" asp-action="Lock" style="width:50px;" asp-route-id="@item.Id">
                        <i class="fas fa-lock-open"></i>
                    </a>
                }
                else
                {
                    <a id="unlock_" class="btn btn-danger text-white" asp-action="UnLock" style="width:50px;" asp-route-id="@item.Id">
                        <i class="fas fa-lock"></i>
                    </a>
                }
            </td>
        </tr>
            }
        </table>
    }
    else
    {
        <p>@localizer.Get("NoUserExists")...</p>
    }
</div>

