@page
@inject CommonLocalizationService localizer
@model Disable2faModel
@{
    ViewData["Title"] = @localizer.Get("Disable2FA");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@localizer.Get("ThisActionOnly").</strong>
    </p>
    <p>
        @localizer.Get("Disabling2FADoesNot") <a asp-page="./ResetAuthenticator">@localizer.Get("ResetKeys").</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@localizer.Get("Disable2FA")</button>
    </form>
</div>
