@page
@inject CommonLocalizationService localizer
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = @localizer.Get("TwoFactorAuthentication");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>You have no recovery codes left.</strong>
            <p>@localizer.Get("YouMust") <a asp-page="./GenerateRecoveryCodes">@localizer.Get("GenerateANewSet")</a> @localizer.Get("BeforeYou").</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@localizer.Get("YouHave1Recovery").</strong>
            <p>@localizer.Get("YouCan") <a asp-page="./GenerateRecoveryCodes">@localizer.Get("GenerateANewSet")</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
            <p>@localizer.Get("YouShould") <a asp-page="./GenerateRecoveryCodes">@localizer.Get("GenerateANewSet")</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">@localizer.Get("ForgetThisBrowser")</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">@localizer.Get("Disable2FA")</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@localizer.Get("ResetRecoveryCodes")</a>
}

<h5>@localizer.Get("AuthenticatorApp")</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@localizer.Get("AddAuthenticatorApp")</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@localizer.Get("SetupAuthenticatorApp")</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@localizer.Get("ResetAuthenticatorApp")</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}