@inject CommonLocalizationService localizer
@model EngineerApplication.Entities.ViewModels.OrderViewModel
@using EngineerApplication.Helpers

@{
    ViewData["Title"] = @localizer.Get("Details");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.OrderDetails.Count() > 0)
    {
        <br />
        <div class="backgroundWhite container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; @localizer.Get("OrderSummary")
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a id="backToOrders_" asp-action="Index" asp-controller="Order" asp-area="Admin" class="btn btn-outline-info form-control btn-sm">@localizer.Get("BackToOrders")</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-primary">@localizer.Get("PickUpDetails"):</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Name")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.Name" id="txtName" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Phone")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.Phone" id="txtPhone" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Address")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.Address" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("City")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.City" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("ZipCode")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.ZipCode" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Email")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.Email" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("TimeToOrder")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.TimeToOrder" type="date" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("TimeToRealisation")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="OrderHeader.TimeToRealisation" type="date" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Supplier")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Supplier.Name" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Delivery")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Delivery.Name" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>@localizer.Get("Payment")</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="Payment.Name" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">@localizer.Get("OrderSummary")</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @{
                                        var total = 0.0;
                                    }

                                    @foreach (var details in Model.OrderDetails)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <input type="hidden" asp-for="@details.Id" />
                                                <h5 class="my-0">@details.CommodityName</h5><br/>
                                                <h7 class="text-muted">@localizer.Get("AmountInOrder") : @details.AmountInOrder</h7><br/>
                                                <h7 class="text-muted">@localizer.Get("PriceUnit") :  @(Math.Round(details.Price, 2).ToString("c")) PLN</h7><br/>
                                                <h7 class="text-muted">@localizer.Get("Price") : @(Math.Round((details.Price * @details.AmountInOrder), 2).ToString("c")) PLN</h7><br/>
                                                <h7 class="text-muted">@localizer.Get("VATPrice") : @(Math.Round((0.23 * (details.Price * @details.AmountInOrder)), 2).ToString("c")) PLN</h7><br/>
                                                <h7 class="text-muted">@localizer.Get("NettoPrice") : @(Math.Round((0.77 * (details.Price * @details.AmountInOrder)), 2).ToString("c")) PLN</h7>
                                            </div>
                                        </li>
                                    }
                                    <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h7 class="text-muted">@localizer.Get("OrderSummary") :  @(Math.Round(Model.OrderDetails.Sum(x => (x.Price * x.AmountInOrder)), 2).ToString("c")) PLN</h7><br/>
                                                <h7 class="text-muted">@localizer.Get("TimeToRealisation") :  @(Model.TimeToRealisation)</h7>
                                            </div>
                                    </li>
                                </ul>
                                @if (Model.OrderHeader.Status != UsefulConsts.StatusSubmitted)
                                {
                                    <div class="col-12">
                                        <button class="btn btn-outline-success disabled form-control" disabled>@Model.OrderHeader.Status</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        @if (Model.OrderHeader.Status != UsefulConsts.StatusApproved && Model.OrderHeader.Status != UsefulConsts.StatusRejected)
                        {
                            <div class="col-6 offset-md-4 col-md-4 col-lg-2 offset-lg-8">
                                <a asp-action="Approve" asp-route-id="@Model.OrderHeader.Id" class="btn btn-success form-control">@localizer.Get("Approve")</a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <a asp-action="reject" asp-route-id="@Model.OrderHeader.Id" class="btn btn-danger form-control">@localizer.Get("Reject")</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="backgroundWhite">@localizer.Get("NoItemsAdded")</div>
    }
</form>