@inject CommonLocalizationService localizer
@model EngineerApplication.Entities.ViewModels.EmployeeVM

@{
    var title = @localizer.Get("CreateEmployee");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Employee.Id != 0)
        {
            <input type="hidden" asp-for="Employee.Id" />
            title = @localizer.Get("EditEmployee");
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-10">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Employee.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Employee.Name" class="form-control" />
                    <span asp-validation-for="Employee.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Employee.PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Employee.PhoneNumber" id="txtPrice" class="form-control" />
                    <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Employee.EmailAddress"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Employee.EmailAddress" id="txtPrice" class="form-control" />
                    <span asp-validation-for="Employee.EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Employee.EmployeeDesc"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Employee.EmployeeDesc" class="form-control" style="height:300px;"></textarea>
                    <span asp-validation-for="Employee.EmployeeDesc" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Employee.ServiceId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Employee.ServiceId, Model.ServiceList,
                                            @localizer.Get("PleaseSelectAService"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Employee.Id != 0)
                    {
                        //Edit button and back to list
                        <partial name="_EditAndBackToListButton" model="Model.Employee.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">@localizer.Get("Create")</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">@localizer.Get("BackToList")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>
    <script>

    tinymce.init({
        selector: 'textarea',
        plugins: 'lists',
        menubar: 'file edit format'
    });

    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            swal(@localizer.Get("Error"), @localizer.Get("PleaseSelectAnImage"), "error")
            return false;
        }
        return true;
            };

    $(document).ready(function () {
        if (document.getElementById('txtPrice').value == "0") {
            document.getElementById('txtPrice').value = '';
        }
    });
    </script>
}