@page
@inject CommonLocalizationService localizer
@model RegisterConfirmationModel
@{
    ViewData["Title"] = @localizer.Get("ResetPassword");
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    @localizer.Get("ThisAppDoesNotCurrently") <a href="https://aka.ms/aspaccountconf">@localizer.Get("TheseDocs")</a> @localizer.Get("ForHowToConfigure").
    @localizer.Get("NormallyThisWouldBe"): <a id="confirm-link" href="@Model.EmailConfirmationUrl">@localizer.Get("ClickHereToConfirm")</a>
</p>
    }
    else
    {
<p>
        @localizer.Get("PleaseCheckEmail").
</p>
    }
}
