@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject CommonLocalizationService localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">@localizer.Get("CategoryList")</h2>
        </div>
        <div class="col-6 text-right">
            <a id="createCategory_" asp-action="AddOrUpdate" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; @localizer.Get("CreateNewCategory")</a>
        </div>
    </div>
    <br />
    <br />

    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>@localizer.Get("Name")</th>
                <th>@localizer.Get("DisplayOrder")</th>
                <th>@localizer.Get("DependencyTo")</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<div class="row">
    <div class="col-12 col-lg-5 offset-lg-1">
        <form asp-action="Export" asp-controller="Category" method="post">
            <input type="hidden" name="GridHtml" />
            <input id="exportCategoryPdf_" class="btn btn-success" type="submit" id="btnSubmit" value="@localizer.Get("ExportToPdf")" />
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/javascript/category.js"></script>
}
